<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HADA</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="../public/css/style.css">
    </head>
    <body>
        <div class="container">
            <nav class="navbar bg-body-tertiary">
                <div class="container-fluid">
                    <a class="Logo_text_center" href="../view/index.html">
                        <img src="../public/img/logo/1.png" alt="Logo" width="100" height="89" class="d-inline-block align-text-top">
                    </a>
                        <a class="navbar-brand" href="../view/index.html">Inicio</a>
                    
                  <div id = "busqueda">
                    <label for="customRange1" class="form-label">Generos:</label>
                    <select class="form-select" id="selectGenero"aria-label="Disabled select example"  >
                        <option value="todos">Todos los géneros</option>
                        <option value="Infantil">Infantil</option>
                        <option value="Comedia">Comedia</option>
                        <option value="Terror">Terror</option>
                    </select>
                </div>
                  <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                      </svg></button>
                  </form>
                </div>
            </nav>
            <hr>
            <div id="movieList" class="row justify-content-center">
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="../src/script.js"></script>
    </body>
</html>

<style>
    body{
        background-color: black;
    }
    .card-body{
        background-color: #d9d9d9;
        box-shadow: 0px, 1px, 10px, white;
    }
    .card{
        border-radius: white;
        overflow: hidden;
        box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.5);
        transition: all 400ms ease;
    }
    .card:hover{
        box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.5);
        transform: translateY(-3%);
    }
    a{
        text-decoration: none;
    }

    
</style>