<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de la Película</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

<div class="container">
    <h1 class="text-center mt-5 mb-4">Detalles de la Película</h1>
    <div class="movie-details">
        <h2>Película 1</h2>
        <p>Año: 2022</p>
        <p>Director: Director 1</p>
        <p>Sinopsis: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed accumsan mauris, et commodo lacus. Phasellus eu nisi ut turpis pharetra rutrum. Sed vitae bibendum nisl. Aenean vitae dolor sed orci gravida bibendum.</p>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>
